<div class="row">
  <nav class="navbar secondary-navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand visible-xs">REGISTRY</div>
    </div>
    <div id="secondary-navbar-collapse" class="collapse navbar-collapse align-center">
      <ul id="secondary-menu" class="nav navbar-nav">
        <% unless @mine.empty? %>
          <li class="active"><%= link_to "MINE", "#mine" %></li>
        <% end %>
        <li class=<%= "active" if @mine.empty? %>><%= link_to "KITCHEN", "#kitchen" %></li>
        <li><%= link_to "DECORATIONS", "#decorations" %></li>
        <li><%= link_to "ADVENTURE", "#adventure" %></li>
        <li><%= link_to "HOME", "#home" %></li>
        <li><%= link_to "OTHER", "#other" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  </nav>
</div>
